<div class="row mt-5">
    <div class="col-md-auto m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i><%= title %></h1>
            <div id="partial">
                <% if (typeof (partials) != 'undefined') { %>
                    <%- include(partials) %>
                <% } %>
            </div>
            <form action=<%= formPostUrl %> method="POST">
                <div class="form-group">
                    <label for="param_name">
                            Update Route
                    </label>
                    <input
                            type="search"
                            list="route-option"
                            id="param_name"
                            name="param"
                            class="form-control"
                            placeholder="Enter the parameter to insert"
                    />
                    <datalist id="route-option">
                        <% if (typeof routes != 'undefined') { %>
                            <% routes.forEach(function (route) { %>
                                <option value=<%= route.ID %>><%=route.NAME%></option>
                            <% }) %>
                        <% } %>
                    </datalist>
                </div>
                <div class="invisible-cell form-group">
                    <ul id="route-list">
                    </ul>
                </div>
                <div class="card form-group">
                    <table class="table table-bordered" id="table">
                    </table>
                </div>
                <button class="btn-info btn right-aligned-btn">Update Route</button>
            </form>
        </div>
    </div>
</div>
